click==6.7
python_dotenv==0.6.2
h5py==2.6.0
Keras==1.2.2
matplotlib==2.0.0
numpy==1.12.1
picklable_itertools==0.1.1
sacred==0.6.10
scipy==0.19.0
seaborn==0.7.1
six==1.10.0
tensorflow_gpu==1.15.4
tqdm==4.8.4
dotenv==0.0.5
scikit_learn==0.18.1
tensorflow==1.15.2
